{{#useAlamofire}}
github "Alamofire/Alamofire" ~> 5.2.0
github "tristanhimmelman/ObjectMapper" ~> 4.2
{{/useAlamofire}}
{{#usePromiseKit}}
github "mxcl/PromiseKit" ~> 6.12.0
{{/usePromiseKit}}
{{#useRxSwift}}
github "ReactiveX/RxSwift" ~> 5.0.1
{{/useRxSwift}}
