/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@font-face {
    font-family: 'alliance_no1_black';
    src: url('fonts/alliance_no.1_black-webfont.woff2') format('woff2'),
         url('fonts/alliance_no.1_black-webfont.woff') format('woff');
}
@font-face {
    font-family: 'alliance_no1_bold';
    src: url('fonts/alliance_no.1_bold-webfont.woff2') format('woff2'),
         url('fonts/alliance_no.1_bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'alliance_no1_medium';
    src: url('fonts/alliance_no.1_medium-webfont.woff2') format('woff2'),
         url('fonts/alliance_no.1_medium-webfont.woff') format('woff');
}
@font-face {
    font-family: 'alliance_no1_regular';
    src: url('fonts/alliance_no.1_regular-webfont.woff2') format('woff2'),
         url('fonts/alliance_no.1_regular-webfont.woff') format('woff');
}
@font-face {
    font-family: 'alliance_no1_light';
    src: url('fonts/alliance_no.1_light-webfont.woff2') format('woff2'),
         url('fonts/alliance_no.1_light-webfont.woff') format('woff');
}
.componentContainer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px;
}
:root {
  --ifm-color-primary: #895aff;
  --ifm-color-primary-dark: #522ab7;
  --ifm-color-primary-darker: #3b1a8d;
  --ifm-color-primary-darkest: #1a0226;
  --ifm-color-primary-light: #ff589d;
  --ifm-color-primary-lighter:  #ff5a5a;
  --ifm-color-primary-lightest: #ffa758;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* Custom edits */
html[data-theme='dark'] {
  --ifm-background-color: #090719;
  --ifm-navbar-background-color: #090719;
  --ifm-toc-border-color: #1A1829;
  --ifm-menu-color: #7F8599;
  --ifm-menu-color-active: #FFFFFF;
  --ifm-color-primary: #523DF1;
  --ifm-color-primary-dark: #4d2fe0;
  --ifm-color-primary-darker: #3A2E7C;
  --ifm-color-primary-darkest: #2C1D5A;
  --ifm-font-family-base: 'alliance_no1_regular', sans-serif;
  --ifm-font-color-base: #7F8599;
  --ifm-toc-link-color: #7F8599;
  --ifm-hr-border-color: #1A1829;
  --ifm-code-background: #FFF;
  --ifm-code-color: #523DF1;
  --ifm-container-width-xl: 1340px;

}

.footer--dark {
  --ifm-footer-background-color: #090719;
  border-top: 1px solid #1A1829;
}
.navbar__title {
  display: none;
}
.navbar__link {
  font-family:  'alliance_no1_medium', sans-serif;
  font-size: 16px;
}
.footer__copyright {
  font-size: 12px;
}
/* Typography */
h1, h2, h3, h4, h5, h6 {
	font-family: "alliance_no1_bold", sans-serif;
  letter-spacing: -0.03em;
}
h1, h2, h3, h4 {
  color: #FFF;
}
h1 {
  text-transform: uppercase;
  	font-family: "alliance_no1_black", sans-serif;
}
p {
  letter-spacing: -0.03em;
}
code {
  vertical-align: top;
}
.markdown > h2 {
  --ifm-h2-font-size: 30px;
}

/* Code Blocks */
.codeBlockLines_node_modules-\@docusaurus-theme-classic-lib-next-theme-CodeBlock- {
  background-color: #1a1829 !important;
}
.string {
  color: #9fd3b9 !important;
}
.property {
  color: #f4aeb9;
}
.boolean {
  color: #f8e77e;
}
.null {
  color: #81d7fb !important;
}
.punctuation {
  color: #b9b9b9 !important;
}
.function {
  color: #d19a66 !important;
}

/* Homepage Styling */
.yatBtn {
	border-radius: 40px;
	padding: 20px 50px;
	color: #FFF;
	font-weight: normal;
}
.yatBtn:hover {
	color: #FFF;
}
.yatHomeLink {
  color: #7F8599;
  font-weight: bold;
}
/* Mobile */
@media (max-width: 996px){
.yatHome {
	background: url('/img/phones-mobile.png') no-repeat bottom center;
  background-size: cover;
  height: 92vh;
  display: grid;
  align-items: center;
}
.bigHeading {
  font-size: 50px;
	line-height: 0.8em;
	text-align: center;
}
.homeText {
	text-align: center;
	color: #7F8599;
  padding-top: 15px;
  padding-bottom: 30px;
  max-width: 350px;
  margin: 0 auto;
}
.yatBtn {
	margin: 0 auto;
  box-shadow: 0px 0px 40px rgba(82, 61, 241, 0.6);
}
.btnCenter {
  display: flex;
  align-items: center;
}
}

/* Mobile Small*/
@media (max-width: 420px) {
.yatHome {
	background: url('/img/phones-mobile.png') no-repeat bottom center;
  background-size: cover;
  height: 92vh;
  padding: 20px !important;
}
.bigHeading {
  font-size: 34px;
	line-height: 0.8em;
	text-align: center;
}
.yatBtn {
	border-radius: 40px;
	padding: 15px 40px;
	color: #FFF;
	font-weight: normal;
}
}



/* Desktop */
@media (min-width: 997px){
.navbar__inner {
  padding: 0 50px;
  max-width: 1440px;
  margin: 0 auto;
}
.navbar {
  padding: 0;
}
.container {
  max-width: 100%;
}
.docs-wrapper {
  padding: 0 25px;
  max-width: 1440px;
  margin: 0 auto;
}
.yatBg {
	background: url('/img/phones.png') no-repeat bottom right;
  background-size: 1400px 850px;
}
.yatHome {
  height: 95vh;
  min-height: 500px;
  display: grid;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
}
.yatContent {
  padding: 50px;
}
.bigHeading {
  font-size: 100px;
	line-height: 80%;
  letter-spacing: -0.08em;
}
.homeText {
	text-align: left;
	color: #7F8599;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 350px;
}
.colContainer {
	min-height: 700px;
}
.navbar {
	border-bottom: 1px solid #1A1829;
  letter-spacing: -0.03em;
}
.navbar__logo {
  height: 90%;
}

.menuHighlight {
	background: #523DF1;
	border-radius: 33px;
	color: #FFF;
	padding: 5px 20px;
  margin-left: 50px;
}
.menuHighlight:hover {
	background: #4d2fe0;
	color: #FFF;
}
.yatBtn:hover {
  box-shadow: 0px 0px 40px rgba(82, 61, 241, 0.6);
}
.main-wrapper {
  width: 100%;
}
}

/* Desktop Large */
@media (min-width: 1440px){
.yatBg {
  background-size: 1400px 850px;
}
.footer--dark .container {
  width: 1440px;
  margin: 0 auto;
  padding: 20px 50px;
}
}
