---
id: {{#lambda.lowercase}}{{classname}}{{/lambda.lowercase}}
title: {{classname}}
---
{{#description}}
## Description

{{description}}
{{/description}}

All URIs are relative to *{{basePath}}*

Method | HTTP request | Description
------------- | ------------- | -------------
{{#operations}}{{#operation}}[**{{operationId}}**]({{classname}}.md#{{#lambda.lowercase}}{{operationId}}{{/lambda.lowercase}}) | **{{httpMethod}}** {{path}} | {{#summary}}{{summary}}{{/summary}}
{{/operation}}{{/operations}}

{{#operations}}
{{#operation}}

### {{operationId}}

```js
/**
* @returns {{#returnType}}{{returnType}}{{/returnType}}{{^returnType}}null{{/returnType}}
**/
async function {{operationId}}({{#requiredParams}}{{{paramName}}}: {{{dataType}}}{{^-last}}, {{/-last}}{{/requiredParams}}{{#optionalParams}}{{#-last}}{{#hasRequiredParams}}, {{/hasRequiredParams}}opts{{/-last}}{{/optionalParams}})
```

{{summary}}

{{#notes}}
#### Notes:
{{{notes}}}
{{/notes}}

#### Example

```javascript
const yat = require('yatjs');
const api = new yat.YatJs();

{{#hasAuthMethods}}
{{#authMethods}}
{{#isBasic}}
{{#isBasicBasic}}
// Configure HTTP basic authorization: {{{name}}}
let {{{name}}} = api.client.authentications['{{{name}}}'];
{{{name}}}.username = 'YOUR USERNAME';
{{{name}}}.password = 'YOUR PASSWORD';
{{/isBasicBasic}}
{{#isBasicBearer}}
{{^hasMore}}await api.login("your@email.com", "your_password");{{/hasMore}}
{{/isBasicBearer}}
{{/isBasic}}
{{#isApiKey}}
{{^hasMore}}await api.login("your@email.com", "your_password");{{/hasMore}}
{{/isApiKey}}
{{#isOAuth}}
// Configure OAuth2 access token for authorization: {{{name}}}
let {{{name}}} = defaultClient.authentications['{{{name}}}'];
{{{name}}}.accessToken = 'YOUR ACCESS TOKEN';
{{/isOAuth}}
{{/authMethods}}
{{/hasAuthMethods}}

{{#requiredParams}}
let {{{paramName}}} = {{{example}}}; // {{{dataType}}} {{#description}}| {{{description}}}{{/description}}
// populate {{{paramName}}}...

{{/requiredParams}}
{{#optionalParams}}
{{#-first}}
let opts = {
{{/-first}}
  '{{{paramName}}}': {{{example}}}{{^-last}},{{/-last}} // {{{dataType}}} | {{{description}}}
{{#-last}}
};
{{/-last}}
{{/optionalParams}}
{{#usePromises}}
try {
  {{#returnType}}let res = {{/returnType}}await api.{{#lambda.camelcase}}{{baseName}}{{/lambda.camelcase}}().{{{operationId}}}({{#requiredParams}}{{{paramName}}}{{^-last}}, {{/-last}}{{/requiredParams}}{{#optionalParams}}{{#-last}}{{#hasRequiredParams}}, {{/hasRequiredParams}}opts{{/-last}}{{/optionalParams}});
  {{#returnType}}// res is of type {{returnType}}
  console.log('API called successfully. Result: ', res);{{/returnType}}{{^returnType}}console.log('API called successfully.');{{/returnType}}
} catch (error) {
  console.error(error);
}

{{/usePromises}}
{{^usePromises}}
apiInstance.{{{operationId}}}({{#requiredParams}}{{{paramName}}}{{^-last}}, {{/-last}}{{/requiredParams}}{{#optionalParams}}{{#-last}}{{#hasRequiredParams}}, {{/hasRequiredParams}}opts{{/-last}}{{/optionalParams}}{{#hasParams}}, {{/hasParams}}(error, data, response) => {
  if (error) {
    console.error(error);
  } else {
    {{#returnType}}console.log('API called successfully. Returned data: ' + data);{{/returnType}}{{^returnType}}console.log('API called successfully.');{{/returnType}}
  }
});
{{/usePromises}}
```

#### Parameters

{{^allParams}}This endpoint does not have any parameters.{{/allParams}}{{#allParams}}{{#-last}}
Name | Type | Description  | Notes
------------- | ------------- | ------------- | -------------{{/-last}}{{/allParams}}
{{#allParams}}
**{{paramName}}** | {{#isPrimitiveType}}**{{dataType}}**{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isFile}}**{{dataType}}**{{/isFile}}{{^isFile}}[**{{dataType}}**](../sdk_nodejs_index#{{#lambda.lowercase}}{{baseType}}{{/lambda.lowercase}})
{{/isFile}}{{/isPrimitiveType}}| {{description}} | {{^required}}[optional] {{/required}}{{#defaultValue}}[default to {{defaultValue}}]{{/defaultValue}}
{{/allParams}}

#### Return type

{{#returnType}}
{{#returnTypeIsPrimitive}}**{{returnType}}**{{/returnTypeIsPrimitive}}
{{^returnTypeIsPrimitive}}
[**{{returnType}}**](../sdk_nodejs_index#{{returnBaseType}})
{{/returnTypeIsPrimitive}}
{{/returnType}}{{^returnType}}null (empty response body){{/returnType}}

#### Authorization

{{^authMethods}}No authorization required{{/authMethods}}{{#authMethods}}[{{name}}](../sdk_nodejs_index#{{name}}){{^-last}}, {{/-last}}{{/authMethods}}

#### HTTP request headers

- **Content-Type**: {{#consumes}}{{{mediaType}}}{{#hasMore}}, {{/hasMore}}{{/consumes}}{{^consumes}}Not defined{{/consumes}}
- **Accept**: {{#produces}}{{{mediaType}}}{{#hasMore}}, {{/hasMore}}{{/produces}}{{^produces}}Not defined{{/produces}}

{{/operation}}
{{/operations}}
